/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
.clear{
    clear: both;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.fs-75{
    font-size: 4.1em;
}

.fs-58{
    font-size: 3.625em;
}

.pad-top{
    padding-top: 1em;
}

.mar-top{
    margin-top: 2em;
}

.mar-top-75{
    margin-top: 4.6875em;

}

.mar-right {
    margin-left: 55%;
    margin-right: 5%;
}

.mar-left {
    margin-left: 5%;
    margin-right: 55%;
}



.mar-center{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

.mar-bottom{
    margin-bottom: 4em;
}



.txt-center{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #484f5b;
    
}


/* Main */

#main{

}

.menu-icon{
    display: none;
}

/* Header */
#header{
    height: 8.75em;
    background-color: #ffffff;
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1; */
}

#logo{
    float: left;
    height: 100%;

}

.logo-img{
    height: 100%;
}

.nav{
    float: right;
}

.nav li{
    display: inline-block;
    padding: 0 1.875em;
}

.nav a{
    line-height: 6.25em;
    font-size: 1.3125em;
    text-decoration: none;
    color: black;
}




/* Content */

#content{

}

.slider{
    
    padding-top: 54%;
    position: relative;
}

.slider1{
    background: url(../img/img1.png) top center / cover no-repeat;
    
}

.slider2{
    background: url(../img/img2.png) top center / cover no-repeat;
}

.slider3{
    background: url(../img/img3.png) top center / cover no-repeat;
}

.slider4{
    background: url(../img/img4.png) top center / cover no-repeat;
}

.slider5{
    background: url(../img/img5.png) top center / cover no-repeat;
}

.content-section{
    margin-top: 55.875em;
    position: absolute;
    bottom: 0;
}

.section-heading{
    color: #484f5b;
    letter-spacing: 0.05em;
    font-weight: 700;

}

.section-desc{
    
    color: #484f5b;
    font-size: 1.3125em;
    letter-spacing: 0.0625em;
    line-height: 1.4;

}

.join-btn{
    color: #484f5b;
    font-size: 1.3125em;
    margin-top: 3em;
    margin-bottom: 8em;
    background: #f0cdc7;
    padding:  2%;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}


/* Program */
.program-list{
    text-align: center;
    margin-top: 3.125em;
    margin-bottom: 6.25em;
    width: 100%;
    margin-left: auto;
    margin-right: auto

}

.program-item{
    display: inline-block;
    
}

.program-body{
    font-size: 1.25em;
    color: #484f5b;

}

.program-header{
    font-weight: 600;
    

}

.program-desc{
    margin-top: 0.9375em;

}

/* Galery */
.galery-back-gr{
    background: url(../img/img10.png) top center / cover no-repeat;
}

.galery-list{
    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 31.25em;
    margin-bottom: 2em;
}



.galery-item{
    
    float: left;
    width: 33.3333%;
    display: inline-block;
    text-align: center;
    
    
    
}

.galery-content{
    
    width: 80%;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.3);
    transform: translateX(12%);
    text-align: center;
    
}

.galery-img{
    display: block;
    width: 100%;
    

}

.galery-body{
    display: inline-block;
    background: white;
    color: #484f5b;
    padding:  1.25em;
    
   

}

.galery-header{
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.05em;

}

.galery-desc{
    font-size:  1em;
    margin-top: 0.9375em;
    line-height: 1.4;
}

.sec-heading{
    font-weight: 700;
}


/* Social list */


.social-list{
    margin-top: 5em;
    margin-bottom: 14.375em;
    
}

.social-media{
    
    margin-right: 2.5em;
    text-decoration: none;
}

.social-icon{
    background: #484f5b;
    padding: 0.9375em;
    color: white;
    font-size: 0.9375em;
    
}

/* Get in touch */

.get-in-touch{
    padding-top: 50%;
    background: url(../img/img10.png) top center / cover no-repeat;
    
}

.form-get-in-touch{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.125em;
}

.form-input{
    display: block;
    width: 100%;
    margin-top:  1.25em;
    
}

.name{
    padding:  1.25em;


}

.gender{
    padding:  1.25em;

}

.message{
    padding:  1.25em  1.25em 6.25em;

}

.mar-left-35{
    margin-left: 35%;
    margin-bottom: 3em;
}





/* Footer */
#footer{
    background: url(../img/img12.png) top center / cover no-repeat;
    height: 26em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    color: white;

}

#footer li{
    list-style-type: none;
}


.your-company{
    width: 15%;
    line-height: 1.4;

}

.name-company{
    

}

.address{
    margin-top: 2em;
    margin-bottom: 2em;

}

.link-web{
    text-decoration: none;
    color: white;

}


.sitemap{
    width: 10%;

}

.sit-amet{
    width: 10%;
}

.lorem-ipsum{
    width: 10%;

}

.social-footer{
    width: 20%;
    
}

.footer-header{
    margin-bottom: 1em;

}

.footer-list{
    line-height: 1.5;
}



.social-media-footer{
    
    margin-right: 1em;
    text-decoration: none;
}

.social-icon-footer{
    background: white;
    padding: 0.9375em;
    color: #484f5b;
    font-size: 0.9375em;
    
}

.social-list-footer{
    
    margin-top: 2em;
    margin-bottom: -3em;
}


@media (max-width: 80em) {
    
    .galery-list{
        margin-bottom: 0;
    }

    .fs-75{
        font-size: 2.5em;
    }

    .fs-58{
        font-size: 2em;
    }

    .section-desc,
    .join-btn{
        font-size: 1em;
    }

}




@media (max-width: 64em) {

    .mar-bottom-btn{
        margin-bottom: 12em;
    }
    
    .nav li {
        padding: 0 1em;
    }

    .nav a {
        line-height: 6em;
    }
    

    /* .mar-right {
        margin-left: 50%;
        margin-right: 10%;
    }

    .mar-left {
        margin-left: 10%;
        margin-right: 60%;
    } */


    .pad-top{
        padding-top: 1em;
    }

    .fs-75{
        font-size: 2em;
    }

    .fs-58{
        font-size: 1.5em;
    }

    .sec-desc{
        font-size: 1em;
    }

    .section-desc{
        font-size: 1em;
    }
    

    .join-btn{

        background: #f0cdc7;
        text-transform: uppercase;
        font-weight: 700;
        border: none;
        padding: 0.5em 1em;
        font-size: 1em;
    }

    .mar-left-35{
        
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    

    }
    

    #footer{
        flex-wrap: wrap;
        height: 28em;

    }

    .your-company{
        width: 25%;
        
    
    }

    .sitemap{
        width: 20%;
    
    }
    
    .sit-amet{
        width: 20%;
    }
    
    .lorem-ipsum{
        width: 20%;
    
    }
    
    .social-footer{
        width: 100%;
        text-align: center;
        
    }

    .social-list-footer{
        /* display: none; */
    }

    /* slider 5 */
    .social-list {
        margin-top: 4em;
        margin-bottom: 12em;
    }

    

    /* form get in touch */
    .form-get-in-touch{
        padding-bottom: 3em;
    }

    /* footer */
    #footer{
        height: 38em;
    }

}

@media (max-width: 60em){
    #header{
        height: 6em;
    }

    .mar-bottom-btn{
        margin-bottom: 4em;
    }
    
}

@media (max-width: 50em) {

    .pad-top {
        padding-top: 1.5em;
    }
    .mar-top,
    .mar-bottom {
        margin-bottom: 2em;
    }

    #header{
        height: 4em;
    }

    

    .menu-icon{
        display: block;
    }

    .fs-58{
       
            font-size: 2em;
    }

    .section-desc,
    .join-btn {
        font-size: 0.75em;
        margin: 1em 0;
    }

    .mar-top {
        margin-top: 1em;
    }


    .program-list{
        margin-top: 0;
        margin-bottom: 4em;
    }

    .galery-item {
        float: left;
        width: 100%;
        margin-bottom: 3em;
    }

    .nav{
        display: none;
    }

    .content-section-one{
       
    }

    .galery-back-gr{
        margin-bottom: 4em;
        
        
    }
   
    

    .content-section {
        margin-bottom: 13%;
    }

    

    .menu-icon{
        float: right;
        text-align: center;
        line-height: 4em;
        padding: 0 1.875em;
        font-size:  1.25em;
    }

    #footer{
        font-size: 0.8em;
    }

    .sec-desc{
        font-size: 1.5em;
    }

    .galery-header {
        font-size: 2em;
    }

    .galery-desc {
        font-size: 1.5em;
    }

    /* slider 5 */
    .mar-bot-12{
        margin-bottom: -20%;
    }

    /* form get in touch */

    .social-list {
        margin-top: 2em;
        margin-bottom: 17em;
    }

    .mar-left-35{
        margin-top: 3em;
    }

    .form-get-in-touch{
        padding-bottom: 0;
    }

    /* footer */

    
    
}


@media (max-width: 44em) {
    #header{
        height: 4em;
    }

    .form-input{
        font-size: x-small;
    }

    .menu-icon{
        line-height: 4em;
        font-size: 1em;
    }

    .fs-58{
       
        font-size: 1.5em;
    }

    .content-section {
        margin-bottom: 6%;
    }


    .join-btn{
        margin-top:  1.25em;
        margin-bottom: 1em;
    }

    .program-img{
        width: 100%;
    }
    .program-body{
        font-size: x-small;
    }
    .txt-center {
        font-size: x-small;
    }

    .mar-bottom {
        margin-bottom: 4em;
    }

    

    .mar-top {
        margin-top: 2em;
    }

    .pad-top {
        padding-top: 1.5em;
    }

    .galery-back-gr{
        margin-bottom: 0;
    }

    .galery-header {
        font-size: x-small;
    }

    .galery-desc {
        font-size: xx-small;
        margin-top: 0.9375em;
    }

    .social-icon {
        background: #484f5b;
        padding: 0.5em;
        color: white;
        font-size: 0.8em;
    }

    .social-list {
        /* display: inline-block; */
        margin-top: 1em;
        margin-bottom: 3em;
    }

    .social-media {
         margin-right: 0;
    }

    .sec-heading{
        font-weight: 600;
        font-size: 1.5em;
        letter-spacing: 0.08em;
    }

    .sec-desc {
        letter-spacing: 0.08em;
    }

    .form-input{
        display: block;
        width: 100%;
        margin-top: 0.5em;
        
    }
    
    .name{
        padding: 0.5em;
    
    
    }
    
    .gender{
        padding: 0.5em;
    
    }
    
    .message{
        padding: 0.5em 0.5em 2.5em;
    
    }

    /* slider 5 */
    
    /* footer */
    #footer {
        height: 50em;
        font-size: 0.5em;
    }

    .your-company,
    .sitemap,
    .sit-amet,
    .lorem-ipsum{
        width: 20%;
        text-align: center;
    
    }
    
    .social-footer{
        width: 100%;
        
        
    }

}


@media only screen and (max-width:36em) {

    .mar-bottom-btn{
        margin-bottom: 0;
    }

    .section-desc{
        display: none;
    }

    .section-heading{
        font-size: 1.25em;
    }

    .join-btn {
        width: 100%;
        padding: 1em;
        margin-bottom: 8em;
    }

    
}

@media only screen and (max-width:30em){

    .section-heading{
        font-size: 1em;
    }

    .join-btn {
        padding: 0.5em;
        margin-bottom: 5em;
        font-size: 0.75em;
    }


}

@media only screen and (max-width:20em){
    .content-section{
        margin-bottom: -1%;
    }

    /* form get in touch */
    .mar-bottom{
        margin-bottom: 2em;
    }

}

